
 
/* ========== CSS Reset ============= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:after,*:before{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* ============= Fontface ============= */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

 
/* ========= Global style ============= */
*, *:after,*:before{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.clearfix:before,.clearfix:after,.container:before, .container:after,.row:before, .row::after{display: table; content: " ";}
.clearfix:after,.container:after,.row:after{clear:both;}
h2{margin-bottom:30px; font-size:20px;}
h3{margin-bottom:10px; font-size:20px;}
h4{margin-bottom: 10px; font-size: 16px; font-weight:600;}
body{font-size:14px; line-height:1.2; /*overflow-x:hidden;*/ font-family: 'Lato', sans-serif; background:#eee9e0; color:#fff;}
a{color:#fff; text-decoration:none; transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s;}
a:hover{color:#00a8ff;}
img{max-width:100%; height:auto;}
p{margin-bottom: 15px;}
.fleft{float:left; }
.fright{float:right; }
input[type=button],button[type=button]{cursor:pointer;}
ul{margin-left:20px; list-style:disc;}
ul li, ol li{margin-bottom:10px;}

.container{width:1180px; max-width:100%; margin:0 auto; padding:0 15px;}
.header-content{display:table; width:100%;}
.logo{display:table-cell; text-align:right;}
.emblem{display:table-cell; text-align:left;}
.site-name{display:table-cell; vertical-align:top; text-align:center;}
.site-name span{display:block; font-size:24px; margin-bottom:5px;}
.site-name h2{padding-top:30px; text-transform:uppercase;}
.site-name strong{display:block; font-weight:700;}
.header{padding:30px 0 0;}
.content{padding-top:30px;}
.content > .container{padding:15px 0%;}
.take-pledge{/*border:2px solid #0c7bff; */padding-bottom:100px; margin-bottom:30px; background:#5d564c url(../images/bg-design.png) center 30px no-repeat;}
.content-header{ color:#aed81a; text-align:center; /*text-transform:uppercase;*/}
.content-header span{/*font-size:25px; display:block;*/}
.content-header h2{font-size:27px; /*background:#2c3f95;*/ margin-bottom:20px; font-weight:700; padding:0 7%; display:inline-block;}
.pledge-type{text-align:center; color:#fff; padding:0 6%; text-transform:uppercase;}
.pledge-type > span{text-transform:uppercase; margin-bottom:30px; display:block; font-size:18px;}
.btn{border-radius:50px; background:#eee9e0; color:#000; font-size:16px; padding:10px; display:inline-block; border:none; }
.btn:hover{ background:#ecdec4; color:#000;}
.or{ padding:0 20px; border-top:1px solid #0c7bff; display:inline-block; margin:0 10px}
.or span{background:#2c3f95; margin-top:-13px; padding:0 8px; display:block; color:#0c7bff; font-size:18px;}
.pledge-link .btn{ display:inline-block; position:relative; padding:16px 10px; width:200px; vertical-align:middle; color:#000;}
.pledge-link .btn.active:after{content:""; position:absolute; left:0; right:0px; top:100%; border-top:10px solid #aed81a; border-left:10px solid transparent; border-right:10px solid transparent; width:20px; margin:0 auto;}
.pledge-link a span{display:block;}
.pledge-link .orange-btn.active:after{border-top-color:#ff7e00;}
.pledge-link .orange-btn{background:#ff7e00; color:#000;}
.citizen-btn{background:#aed81a; color:#000;}
.pledge-link .bulk-btn.active:after{border-top-color:#0c7bff;}
.pledge-link .bulk-btn{background:#0c7bff; margin-left:10px; color:#fff;}
.plege-step h3{font-size:18px; margin-bottom:30px;}
.plege-step{padding-top:40px; text-align:center;}
.plege-step li{float:left; width:33.33%; padding:0 15px; color:#00a8ff; position:relative; font-size:14px; font-weight:400;}
.plege-step li span{display:block;}
.plege-step li:before{ width:15px; height:15px; background:#00a8ff; display:inline-block; border-radius:100%; content:""; margin-bottom:12px;}
.plege-step li:after{content:""; border-top:1px solid #00a8ff; position:absolute; top:7px; right:50%; width:100%; z-index:-1;}
.plege-step li:first-child:after{border:none;}
.plege-step li.active:before{background:#fff}
.plege-step li.active:after{border-color:#fff;}
.plege-step li.active{color:#fff}
.plege-step ul{margin-left:0px; list-style:none}
#step-3{padding:20px;}
#step-3 h4{text-align:center; font-size:20px;}
.pledge-text{min-height:300px; font-size:19px; line-height:29px;}
.title-text {
    font-size:16px;
	margin-bottom:20px;
}

.user-action{display:inline-block; margin-left:0px;}
.pledged-user{text-align:center; color:#fff; margin-bottom:25px;}
.user-action > div{display:inline-block; padding:0 20px 0 0; margin-bottom:0px;}
.user-action li:first-child{border:none; text-align:left}
.user-action li:last-child{text-align:right}
/*.on-device{background:rgba(0,0,0,0.1)}*/
.on-device a span{float:left; padding-top:10px;}
.user-action i{display:inline-block;  width:23px; height:18px;   }

.user-action i.mobile-icon{background:url(../images/message.png) 0 0  no-repeat;}
.user-action i.download-icon{background:url(../images/download.png) 0 0  no-repeat; width:18px;}
.user-action i.email-icon{background:url(../images/message.png) 0 0  no-repeat;}
.visilance-count{background:#bf9d6c; padding:20px 0; text-align:center}
.count{width:80px; height:80px; border:2px solid #fff; border-radius:50%; text-align:center; line-height:76px; float:left; margin-right:10px; font-size:20px;}
.visilance-count .col-2:hover .count{background:#fff; color:#0c7bff; }
.statistics-box{float:left; width:25%; padding:10px;  text-transform:uppercase; color:#fff; }
.count-type i{background:url(../images/sprite-icon.png) 0 0 no-repeat;  width:54px; height:60px; display:block;}
.count-type{overflow:hidden; padding-top:3px;}
.count-type i.indivisual{background-position:-12px -143px;}
.count-type i.company{background-position:-146px -77px;}
.count-type i.state{background-position:-148px -152px;}
.count-type i.district{background-position:-5px -243px;}
.count-type i.multipladge-taker{background-position:-146px -243px;}
.count-type i.multipladge-count{background-position:-74px -240px;}
h4 span{display:block}
.user-form{padding:0 10%;}
.user-form > div{padding:20px 10px 0;}
.user-form h3{color:#aed81a; font-size:22px; margin-bottom:25px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding:0 10px;
}
.row label{display:block; color:#fff; margin-bottom:10px; height:22px;}
.row label small{color:red;}
.form-select, .form-text, .form-textarea{width:100%; padding:5px;}
.form-select, .form-text{height:35px;}
.row{margin:0 -10px 20px;}
.user-form label{font-size:16px;}
.note{padding:6px 10px 0 20px; color:#eee9e0; display:block; clear:both; position:relative;}
.note:after{position:absolute; left:0px; top:9px; content:""; width:15px; height:15px; display:block;  background:url(../images/sprite-icon.png) -176px -351px no-repeat;}
.row > .note,.row > label{margin-left:10px;}
label i{background:url(../images/sprite-icon.png) -176px -345px no-repeat; width:22px; height:23px; display:inline-block; margin-right:7px; vertical-align:middle;}
.fname i{background-position:-8px -350px; width:18px;}
.gender i{background-position:-112px -431px; width:24px; }
.idproof i{background-position:-53px -351px;}
.dob i{background-position:-111px -391px;}
.state-name i{background-position:-112px -346px;}
.distric-name i{background-position:-4px -394px;}
.pincode i{background-position:-57px -391px; width:16px;}
.mail-id i{background-position:-171px -394px; height:16px;}
.mob-number i{background-position:0 -435px;}
.languages i{background-position:-49px -436px; width:30px;}
.org-name i{background-position:-3px -470px;}
.confirm-icon i{background-position:-161px -431px; width:36px;}
.pan-icon i{background-position:-36px -475px; width:26px;}
.org-type i{background-position:-72px -474px; }
.org-status i{background-position:-98px -476px;}
.incorp-date i{background-position:-125px -471px;}
.mobile-number i{background-position:-1px -435px;}
.prev-btn{background:none; border:2px solid #fff; margin:0 7px; padding:7px 15px; width:141px; }
.btn.prev-btn{color:#fff;}

.prev-btn:hover{color:#000}
.center-align{text-align:center; padding:20px 0 0;}
.block{display:block}
.ruler-btn:hover{color:#fff;}
.ruler-btn{color:#00a8ff; border:1px solid #00a8ff; background:transparent; padding:7px; position:relative; }
.default-btn{color:#fff; border:1px solid #fff; background:transparent; padding:7px; border-radius:5px;}
.take-pledge.user-form{padding:40px 10%; text-align:center;}
.thanks-message{padding:15px 10%; text-align:center}
.thanks-message{position:relative;}
.corporate-detail{background:#3f52aa; padding:20px 20px 1px; margin-bottom:20px;}
.bulkupload{padding:0 10%;}
.authorize-check{margin-bottom:30px;}
.footer{border-top:1px solid #ccc;}
.footer-text{text-align:right; color:#000; font-size:11px;}
.download-link{display:inline-block}
.mail-box{padding-left:105px; background:url(../images/mail-icon.png) 0 0 no-repeat; min-height:73px;}
.user-box{padding:0 10%;}
/*.mail-box label{display:block; margin-bottom:17px;}*/
.user-box .btn{text-align: center; font-size: 13px; height: 35px; line-height: 13px; margin: 0px !important}
.opt{display:none;}

.ui-datepicker .ui-datepicker-next {
    right: 3px;
    top: 3px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 3px;
    top: 3px;
}

.otp-show{display:none;}
.btn span{display:block;}
.take-pledge  .btn{margin:0 5px;}
.otp-show .col-6{margin-left:18%;}
.otp-show .btn{padding:6px 15px;}
.radio-inline label {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding-left: 20px;
    position: relative;
    vertical-align: middle;
	margin-right:10px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px;
    position: absolute;
}
.radio-inline .confirm-icon{padding-left:0px;}
.custom-text{opacity:0px; width:200px;}
.new-prefix{display:none;}
.authorize-check{display:none}
.visilance-count .col-3{float:none; text-align:left; display:inline-block;}
.analyses [class*="col-"]{ padding:0 30px;}
.border-line{border-right:1px solid #5665aa;}
.analyses h3{color:#fff;}
.chart-block{background:#344799; padding:20px;}
.analyses h3{margin:25px 0 15px;}



.user-block{text-align: left; overflow: hidden;}
.user-block img{float: left: ;}
.user-block h3{color:#abd74b;}
.media-type{ width:100%; display:inline-block;}
.media-type .col-6{padding:0px; margin-bottom:10px;}
.input-block{display: block; width:380px; max-width:90%; margin:10px 0 15px 37px; }
.media-type label{padding-left: 15px;}
.group-pic{float: left; margin:30px 15px 0 0;}
.take-pledge .center-align .btn{margin-bottom:10px;}
.gather-info{padding:0 10%; text-align:center;}

.pledge-auth{display:inline-block; margin-top:-65px; }
.pledge-auth img{border-radius:50%; width:130px; height:130px; border:2px solid #eee9e0; margin:0 auto 15px; display:block; }
.pledge-auth h2{font-size:30px; color:#fff; display:block; text-transform:uppercase;}
.pledge-auth > div span{color:#ff960d; font-weight:600;}
.pledge-auth > div{margin-bottom:20px; color:#fff; }
.title-text{color:#5d564c;}
.user-action span small{font-size:100%; display:block;}
.user-action > div.last{margin:0 0 0 15px}
.circle{border:4px solid #564f46; border-radius:100%; float:left; width:52px; height:52px; margin-right:10px; line-height:52px;}
.on-device a{color:#5d564c;}
.text-pledge{max-width:800px; margin:0 auto;}



/* ========= Footer Style ============ */

.sub-sites{text-align:center; position:relative; padding:10px 15px 0;}
.sub-sites li{padding:0 10px; border-left:1px solid #6b6c6f; display:inline-block;  margin-bottom:10px; list-style:none;} 
.sub-sites li:first-child,.footer-logo li:first-child{border:none;}
.sub-sites:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(6, 47, 60, 0.01) 0%, rgba(45, 75, 100, 0.98) 50%, #2c4a63 51%, rgba(6, 47, 60, 0.01) 100%) repeat scroll 0 0;
    content: ""; display: block; height: 1px; position: absolute; right: 0; top: 0; width: 100%;
}
.footer-logo { background: #000; padding: 7px 15px 0; text-align: center;}
.footer-logo li {
    border-left: 1px solid #28282a; display: inline-block; padding: 0 10px; margin-bottom:7px; vertical-align: middle; list-style:none;
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
 
.footer-wrapper{ padding-top:25px;
clear:both; background:#2f4066;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmNDA2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDFhMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #2f4066 0%, #141a29 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f4066), color-stop(100%,#141a29));
background: -webkit-linear-gradient(top,  #2f4066 0%,#141a29 100%);
background: -o-linear-gradient(top,  #2f4066 0%,#141a29 100%);
background: -ms-linear-gradient(top,  #2f4066 0%,#141a29 100%);
background: linear-gradient(to bottom,  #2f4066 0%,#141a29 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4066', endColorstr='#141a29',GradientType=0 );
width:100%; }

.footer-menu{float:left; width:50%; padding:20px 20px 0 0; margin-left:0px; list-style:none;}
.footer-main{float:left; width:50%; padding:0 0 0 20px; border-left:1px solid #2c4a63;  margin-bottom:10px;}
.footer-main p{font-size:0.857em;}
.footer-menu li{float:left; width:33.33%; margin-bottom:15px; font-family:Arial, Helvetica, sans-serif;}
.footer-logo{text-align:center; background:#000; padding:7px 0;}
.footer-logo li{display:inline-block; padding:0 10px; border-left:1px solid #28282a; vertical-align:middle; }
.footer-logo li:first-child{border:none;}
.footer a{color:#9ca1ae;}
.footer a:hover{color:#fff;}
.footer, .footer p {
    color: #7f8080;
}
.footer-main > img {
    float: left;
    margin-right: 14px;
}
.server-info {
    float: right;
    font-size: 9px;
    margin-bottom: 20px;
	display:none;
}

.sub-sites{text-align:center; position:relative; padding:10px 15px 0;}
.sub-sites li{padding:0 10px; border-left:1px solid #6b6c6f; display:inline-block;  margin-bottom:10px; list-style:none;} 
.sub-sites li:first-child,.footer-logo li:first-child{border:none;}
.sub-sites:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(6, 47, 60, 0.01) 0%, rgba(45, 75, 100, 0.98) 50%, #2c4a63 51%, rgba(6, 47, 60, 0.01) 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.footer-logo {
    background: #000;
    padding: 7px 15px 0;
    text-align: center;
}
.footer-logo li {
    border-left: 1px solid #28282a;
    display: inline-block;
    padding: 0 10px;
	margin-bottom:7px;
    vertical-align: middle;
	list-style:none;
	 box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
 @media all and (max-width:640px){
	.sub-sites li, .sub-sites li:first-child{padding:10px; border:1px solid #2c4a63;}
	.sub-sites{padding:15px 10px 5px;}
 }
 @media all and (max-width:567px){
	.footer-logo{overflow:hidden; padding:10px 5px 0;}
	.footer-logo li{width:50%; border-left:none; padding:0px; float:left; margin:10px 0;}
	.footer-logo li:nth-child(2n+2){border-left:1px solid #28282a; }
 }


@media all and (max-width:1023px){
    .user-form,.bulkupload { padding: 0 7%;}
	.visilance-count .col-3{width:27%}
	
 }
 
 @media all and (max-width:767px){
 	 h2,.pledge-text{font-size:16px;}
	 .plege-step h3,.bulkupload h3{font-size:15px;}
	 .content-header h2, .content-header span{font-size:18px;}
	 .site-name span{font-size:18px;}
	 .user-form h3{font-size:20px;}
	 .user-form label,.btn{font-size:14px;}
	 .plege-step{padding-top:20px;}
    .content > .container { padding: 15px;}
	.pledge-link .btn{display:block; margin:20px auto;}
	.visilance-count .col-3{width:240px;}
	.user-action > div{display:block; margin:20px 0;}
	.user-form > div{padding:20px 0 0;}
	#step-3{padding:15px 0}
  .user-box .col-4{width:100%; margin-bottom: 10px;}
	.mail-box { background-size: 30px auto; padding-left: 34px;}
  .group-pic{float: none; margin:20px 0;}
 }
  
 @media all and (max-width:567px){
	.visilance-count .col-3{margin-bottom:20px;}  
   .footer .fleft{float:none;}
   .footer-text{text-align:left;}
   .plege-step li{font-size:12px; padding:0 6px;}
   .logo,.emblem{width:60px; vertical-align:top;}
   .header-content > div,.header-content{display:block;}
   .header{padding-top:15px;}
   .site-name{padding:10px 0;}
   .logo{position:absolute; right:15px; top:10px;}
   .col-6,.col-9{margin-bottom:15px; width:100%;}
   .col-2{width:100%;}
   .col-3{width:80%; margin-bottom:15px;}
   .row label{height:auto;}
   .otp-show .col-6{margin-left:0px;}
   .otp-show .col-2 .btn{text-align:center;}
   #step-2 .btn, #step-3 .btn{width:110px; padding:7px 5px; vertical-align:middle}
   .mail-box{padding-left:24px; background-size:20px;}
   
   .corporate-detail{padding:10px 10px 1px;}
   .media-type .col-6{margin-bottom:15px;}
   }