<!-- Page Content -->
<div class="content" id="certificate-section">
  <div class="container">
    <div class="take-pledge ">
      <div class="content-header">
        <div class="pledge-auth"><img src="assets/images/patelji.png" alt="" title="">
          <div>Let us celebrate the <span>Rashtriya Ekta Diwas</span> <br>
            with full enthusiasm and take </div>
          <div class="text-pledge">
            <h2>RASHTRIYA EKTA DIWAS PLEDGE</h2>
            <p>Pledge on Rashtriya Ekta Diwas (National Unity Day) to foster and reinforce our dedication to preserve and strengthen unit, integrity and security of our nation on the Birth Anniversary of Sardar Vallabhbhai Patel.</p>
          </div>
        </div>
      </div>
      <div class="thanks-message"> 
        <img name="certificate" src="assets/images/certificate-bg.jpg" alt="" title=""> 
      </div>
      <div class="center-align"> 
        <a class="btn comm-link" data-sms='true' href="#"><span>प्रमाणपत्र अपने मोबाइल पर भेजें </span>Send certificate to your mobile </a> 
        <a data-email='true' class="btn comm-link" href="#"><span>प्रमाणपत्र / प्रतिज्ञा अपने ई-मेल पर भेजें</span> Send certificate / Pledge to your email</a> 
        <a name="download-certificate" class="btn" href="" download><span>छाप  / डाउनलोड प्रमाणपत्र</span> Print / Download Certificate</a>
        <a name="download-text" class="btn" href="#"><span>प्रतिज्ञा डाउनलोड</span> Download Pledge</a></div>
    </div>
  </div>
</div>
<!-- Page Content End -->
<script type="text/javascript">
  $(function(){
    var orgn = false;
    if(cvc_data['type'] == 'org'){
      orgn = true;
    };
    debugger;
    var lang = cvc_data['form_data']['lang'];

    var template_selector = "#certificate-section";
    
    cvc_services['getCertificate'].call(this, cvc_data['form_data'], function(err, results){

      if(err){
        return cvc_services.showMsg('error', err['responseText']);
      }
      // var b64=btoa(results);
      cvc_services.showMsg('info', 'Image loaded successfully', true);
      // var dataURL="data:image/jpeg;base64,"+results;
      $(template_selector).find('[name="certificate"]').attr('src', results['data']);
      $(template_selector).find('[name="download-certificate"]').attr('href', results['data']);

    });

    $(template_selector).find('.comm-link').on('click', function(e){
      e.preventDefault();
      debugger;
      var d = {};
      if($(this).data('sms')){
        d['sms_certificate'] = "TRUE";
      }else{
        d['email_certificate'] = "TRUE";
      }
      
      
      d['identity'] = cvc_data['form_data']['identity'];
      d['type'] = cvc_data['form_data']['type'];
      cvc_services['getCertificate'].call(this, d, function(err, results){
        if(err){
          if(err['status'] == 400){
            for(e in err['responseJSON']){
              cvc_services.showMsg('error', err['responseJSON'][e]);
            }
            return;
          }
          if(err['status'] == 403 ){
            return cvc_services.showMsg('error', err['responseJSON']['message']);
          }

          if( err['status'] == 401){
            return cvc_services.showMsg('error', err['responseJSON']['message']);
          }
        }
        cvc_services.showMsg('info', results['message']);
        return $(window).trigger('renderSection', {'step':0});
      });
    });
    

    // getting pledge text here
    if(lang){


      cvc_services['getPledgeText'].call(this, lang, function(err, results){
        if(err){
          return alert('Unable to get Pledge Text for mentioned Language ' + lang);
        }
        var pledge_text = results['pledge_text'];
        console.log(pledge_text);
          
        function printCertificate(){
          var mywindow = window.open('', 'PRINT', 'height=400,width=600');
          mywindow.document.write('<html><head><title>' + document.title  + '</title>');
          mywindow.document.write('<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>');        
          mywindow.document.write('<link rel="stylesheet" href="/assets/css/print-style.css" type="text/css"/>');        
          mywindow.document.write('</head><body style="padding:20px;" >');
          mywindow.document.write('<header class="header"><div class="container"><div class="header-content"><div class="emblem"><a href="/"><img src="assets/images/emblem.png" alt="Central Vigilance Commission logo" title="Central Vigilance Commission"></a></div><div class="site-name"> <span>केन्द्रीय सतर्कता आयोग <strong>CENTRAL VIGILANCE COMMISSION</strong> </span><h2> ईमानदारी को प्रोत्साहन देने तथा भ्रष्टाचार उन्मूलन में जन सहभागिता  <br>Public Participation in promoting Integrity and eradicating corruption</h2></div><div class="logo"><a href="/"><img src="assets/images/vigilance-icon.png" alt="" title=""></a></div></div></div></header>')
          // mywindow.document.write('<h1>' + document.title  + '</h1>');
          mywindow.document.write('<div class="certificate-text">'+pledge_text+'</div>');
          mywindow.document.write('</body></html>');

          mywindow.document.close(); // necessary for IE >= 10
          
          setTimeout(function(){
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();
          }, 100);
           

          return true;
        };

        $('[name=download-text]').on('click', function(e){
          e.preventDefault();
          printCertificate();
        })


      }, orgn);
    }else{
      $('[name=download-text]').hide();
    }

  });
</script>