<!-- Page Content -->
<div class="content" id="citizen-section">
  <div class="container">
    <div class="take-pledge">
      <div class="content-header">
        <div class="pledge-auth"><img src="assets/images/patelji.png" alt="" title="">
          <div>Let us celebrate the <span>Rashtriya Ekta Diwas</span> <br>
            with full enthusiasm and take </div>
          <div class="text-pledge">
            <h2>RASHTRIYA EKTA DIWAS PLEDGE</h2>
            <p>Pledge on Rashtriya Ekta Diwas (National Unity Day) to foster and reinforce our dedication to preserve and strengthen unit, integrity and security of our nation on the Birth Anniversary of Sardar Vallabhbhai Patel.</p>
          </div>
        </div>
      </div>
      
      <div class="user-form">
        <div id="citizen">
          <form method="post" action="" autocomplete="off">
              <input name="type" type="hidden" value="individual">
              <input name="is_new" type="hidden" value="true">
            <div id="step-1">
              <h3>बुनियादी ब्योरा दर्ज कीजिये Enter Basic Details</h3>
              <div class="row">
                <label class="fname"><i></i>नाम | Name <small>*</small></label>
                <div class="col-3">
                  <select name="prefix" class="form-select select-prefix">
                    <option value="-1">-Select-</option>
                    <option value="Shri">Shri</option>
                    <option value="Smt">Smt</option>
                    <option value="Kumari">Kumari</option>
                    <option value="Dr">Dr</option>
                    <option value="Master">Master</option>
                    <option value="Miss">Miss</option>
                    <option value="Others" class="other">Others</option>
                  </select>
                </div>
                <div class="col-3 new-prefix">
                  <input name="new-prefix" type="text" class="form-text" placeholder="Enter Here">
                </div>
                <div class="col-9">
                  <input type="text" name="name" class="form-text" placeholder="Enter Your Name">
                </div>
              </div>
              <div class="row">
                <label class="gender"><i></i> लिंग | Gender <small>*</small></label>
                <div class="col-12 radio-inline">
                  <label>
                    <input name="gender" value="male" type="radio">
                    Male </label>
                  <label>
                    <input name="gender" value="female" type="radio">
                    Female </label>
                  <label>
                    <input name="gender" value="other" type="radio">
                    Other </label>
                </div>
              </div>
              <div class="row">
                <label class="idproof"><i></i> पहचान प्रमाण | ID Proof <small>*</small></label>
                <div class="col-3">
                  <select name="id_type" class="form-select" title="Select ID Proof">
                    <option value="-1">-Select-</option>
                    <option selected="selected" value="Aadhaar Card">Aadhaar Card</option>
                    <option value="PAN Card">PAN Card</option>
                    <option value="Passport">Passport</option>
                    <option value="Voter Id">Voter Id</option>
                  </select>
                </div>
                <div class="col-9">
                  <input type="text" name="id_value" class="form-text" placeholder="Enter Your Card Number">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label class="dob"><i></i>जन्म तिथि | Date Of Birth <small>*</small></label>
                  <input class="datepicker form-text" name="dob" type="text" placeholder="Enter Your Date Of Birth (dd/mm/yyyy)">
                  <span class="note">Entry form must be atleast 10 years of age.</span> </div>
                <div class="col-6">
                  <label class="pincode"><i></i>पिन कोड Pin Code <small>*</small></label>
                  <input type="text" name="pincode" class="form-text" placeholder="Enter Your Pin Code">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label class="state-name"><i></i>राज्य | State <small>*</small></label>
                  <select name="state" class="form-select"></select>
                </div>
                <div class="col-6">
                  <label class="distric-name"> <i></i>जिला | District <small>*</small></label>
                  <select name="district" class="form-select"></select>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label class="mail-id"><i></i>ईमेल | Email</label>
                  <input type="text" name="email" class="form-text" placeholder="Enter Your Email Id, if any">
                </div>
                <div class="col-6">
                  <label class="mobile-number"><i></i>मोबाइल | Mobile <small>*</small></label>
                  <input type="text" name="identity" class="form-text" placeholder="Enter Your Mobile Number">
                </div>
                <span class="note">प्रमाणपत्र की प्रतिलिपि ईमेल द्वारा भेजी जाएगी A copy of Certificate issued by CVC will be sent to Email</span> </div>
              <div class="center-align"> 
                <button href="language.html#main-section" type="submit" class="btn">भाषा के चयन के लिए आगे बढ़ें | Proceed for Language selection</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content End -->

<script type="text/javascript">
  $(function(){
    document.body.scrollTop = document.documentElement.scrollTop = 500;
    var template_selector = '#citizen-section';
    
    //upload
    (function form_handling(){
      cvc_data['type'] = 'citizen';
      var form_data_hash = '';
      $(template_selector).find('form').on('submit', function(e){
        e.preventDefault();
        var form_data = $(this).serializeArray();

        if(form_data_hash == md5(JSON.stringify(form_data))){
          if($('.lobibox-notify-wrapper').children().length ==0){
            cvc_services.showMsg('error', "Please fix Errors First!!");
          }
          return;
        }

        // update hash
        form_data_hash = md5(JSON.stringify(form_data));
        var that  = this;

        form_data = form_data.reduce(function(pv, cv){
          pv[cv['name']] = cv['value'];
          return pv;
        }, {});
        if(form_data['new-prefix'] && form_data['new-prefix'].length > 0){
          form_data['salutation'] = form_data['new-prefix'];
        }else{
          form_data['salutation'] = form_data['prefix'];
        }

        //setting others id type
        if(form_data['new_id_type'] && form_data['new_id_type'].length > 0){
          form_data['id_type'] = form_data['new_id_type'];
        }else{
          form_data['id_type'] = form_data['id_type'];
        }
        debugger;
        
        // update handler
        if(form_data['is_new'] == 'false'){
          cvc_services['updatePledge'].call(this, JSON.stringify(form_data), form_data['identity'], function(err, results){
            debugger;
            if(err && err['responseJSON']){
              err = err['responseJSON'];
              for(e in err){
                if(e == 'lang'){
                  continue;
                }
                cvc_services.showMsg('error', err[e]);
              }              
              return;
            }
            cvc_data['form_data'] = form_data;
            return $(window).trigger('renderSection', {'step':2});
          });
        }

        if(form_data['is_new'] == 'true'){
          // resetting auth header
          delete cvc_data['auth_header'] ;
          cvc_services['createPledge'].call(this, JSON.stringify(form_data), function(err, results){
            if(err && err['responseJSON']){
              err = err['responseJSON'];
              for(e in err){
                if(e == 'lang'){
                  continue;
                }
                cvc_services.showMsg('error', err[e]);
              }
              if(Object.keys(err).length ==1 && Object.keys(err).indexOf('lang') >=0){
                // set form data
                cvc_data['form_data'] = form_data;
                // move to next step for language selection
                return $(window).trigger('renderSection', {'step':2});
              }
              return;
            }
          });
        }
      });
    })();



    function render_districts(highlighted_state, highlighted_district){
      var district_selector = $(template_selector).find('[name=district]');
      cvc_services['getDistrictsByState'].call(this, highlighted_state, function(err, data){
        if(!err){
          cvc_services['populateDistrictDropDown'].call(this, district_selector, data, highlighted_district);
        }
      });
    };

    (function render_states(){
      var state_selector = $(template_selector).find('[name=state]');
      $(state_selector).on('change', function(){
        $(this).trigger('chain_change', {});

      } );
      $(state_selector).on('chain_change', function(e, event_data){
        var highlighted_district = event_data['district'];
        var highlighted_state = event_data['state'];
        if(!highlighted_state){
          highlighted_state = $(this).val();
        }
        render_districts(highlighted_state, highlighted_district);
        $(state_selector).val(highlighted_state);
      });

      cvc_services['getStates'].call(this, function(err, data){
        if(!err){
          cvc_services.showMsg('info', 'States Loaded',true);
          cvc_services['populateStateDropDown'].call(this, state_selector, data);
          $(state_selector).trigger('change',{});
          return ;
        }
        cvc_services.showMsg('error', 'Not able to Load states!');
      });
    })();



    (function local_event_handlers(){
      // prefix handler
      $(template_selector).find(".select-prefix").change(function() {
        var str = "";
        $(".select-prefix option:selected").each(function() {
          str = $(this).text();
          if (str == "Others") {
            $('.new-prefix').show().next('.col-9').addClass('col-6').removeClass('col-9');
          } else {
            $('.new-prefix').hide().next('.col-6').addClass('col-9').removeClass('col-6');
          }
        });
      });

      // organization id handler
      $(template_selector).find("[name=id_type]").change(function() {
        var str = "";
        $(this).find("option:selected").each(function() {
          str = $(this).text();
          if (str == "Others") {
            $(template_selector).find('.new_id_type').show().next('.col-9').addClass('col-6').removeClass('col-9');
          } else {
            $(template_selector).find('.new_id_type').hide().next('.col-6').addClass('col-9').removeClass('col-6');
          }
        });
      });

      // datatime picker
      $(template_selector).find(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        yearRange: "-100:+0"
      });



      // pincode change handler
      $(template_selector).find('input[name=pincode]').on('change', function(){
        var that = this;

        async.parallel([
          function(callback){
            cvc_services['getLocationByPincode'].call(this, $(that).val(), callback);
          }
        ], function(err, results) {

          if(!results[0]){
            cvc_services.showMsg('warning', 'No Mapping found for pincode '+$(that).val() + ' You may choose State and District !!');
          }

          var current_state = results[0]['state'];
          var current_district = results[0]['district'];
          $(template_selector).find('[name=state]').trigger('chain_change', results[0]);
        });
      });

      // pledge button handler
      $(template_selector).find('.citizen-btn').on('click', function(e){
        e.preventDefault();
        $(window).trigger('renderSection', {'step':1});
      });

      $(template_selector).find('.orange-btn').on('click', function(e){
        e.preventDefault();
        return $(window).trigger('renderSection', {'step':7});
      });
    })();

    (function prepopulate_data(){
      $(function(){
        if(cvc_data['form_data']){
          var data = cvc_data['form_data'];
          data['is_new'] = 'false';
          for(var key in data){
            if(!$(template_selector).find('[name='+key+']').is(':radio')){
              $(template_selector).find('[name='+key+']').val(data[key]).trigger('change');
            }
          }
          $(template_selector).find('[name=identity]').attr('readonly', true);
          if(data['new_prefix'] && data['new_prefix'].length > 1){
            $(template_selector).find('[name=prefix]').val('Others').change();
            $(template_selector).find('[name=new_prefix]').val(cvc_data['form_data']['salutation']);  
          }
          if(data['new_id_type'] && data['new_id_type'].length > 1){
            $(template_selector).find('[name=id_type]').val('Others').change();
            $(template_selector).find('[name=new_id_type]').val(cvc_data['form_data']['new_id_type']);  
          }
          $(template_selector).find('[name=gender][value='+data['gender']+']').prop('checked', true).change();
          $(template_selector).find('[name=prefix]').val(cvc_data['form_data']['salutation']);

        }  
      })
      
    })();
  })
</script>
