<!-- Page Content -->
<div class="content" id="landing-section">
    <div class="container">
        <div class="take-pledge">
            <div class="content-header">
                <div class="pledge-auth">
                    <img src="assets/images/patelji.png" alt="" title="">
                    <div>Let us celebrate the
                        <span>Rashtriya Ekta Diwas</span>
                        <br> with full enthusiasm and take </div>
                    <div class="text-pledge">
                        <h2>RASHTRIYA EKTA DIWAS PLEDGE</h2>
                        <p>Pledge on Rashtriya Ekta Diwas (National Unity Day) to foster and reinforce our dedication to preserve
                            and strengthen unit, integrity and security of our nation on the Birth Anniversary of Sardar
                            Vallabhbhai Patel.</p>
                    </div>
                </div>
            </div>
            <div class="pledge-type">
                <div class="pledge-link">
                    <a href="#" class="btn citizen-btn" rel="#citizen">
                        <span>शपथ लीजिए</span>Take Pledge </a>
                </div>
            </div>
        </div>
        <div class="pledged-user clearfix">
            <div class="title-text">यदि प्रतिज्ञा पहले ही ले ली है तो वचनबद्धता का प्रमाण-पत्र प्राप्त करें । If already taken Pledge, Get the Certificate
                of Commitment</div>
            <div class="user-action">
                <div class="on-device">
                    <a href="#">
                        <div class="circle">
                            <i class="email-icon"></i>
                        </div>
                        <span>प्रमाणपत्र अपने ई-मेल/मोबाइल पर भेजें
                            <small>To your email</small>
                        </span>
                    </a>
                </div>
                <div class="on-device last">
                    <a href="#">
                        <div class="circle">
                            <i class="download-icon"></i>
                        </div>
                        <span>प्रमाणपत्र डाउनलोड
                            <small>Download on Device</small>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Content End -->

<script type="text/javascript">
$(function(){
    // apply local logic here
    $('#landing-section').find('.citizen-btn').on('click', function(e){
        e.preventDefault();
        $(window).trigger('renderSection', {'step':1});
    });
    // $('#landing-section').find('.orange-btn').on('click', function(e){
    // e.preventDefault();
    // return $(window).trigger('renderSection', {'step':7});
    // });

    $('.on-device').find('a').on('click', function(e){
    e.preventDefault();
    $(window).trigger('renderSection', {'step':5});
    })
})
</script>