<!-- Page Content -->
<div class="content" id="citizen-language">
  <div class="container">
    <div class="take-pledge">
      <div class="content-header">
        <div class="pledge-auth"><img src="assets/images/patelji.png" alt="" title="">
          <div>Let us celebrate the <span>Rashtriya Ekta Diwas</span> <br>
            with full enthusiasm and take </div>
          <div class="text-pledge">
            <h2>RASHTRIYA EKTA DIWAS PLEDGE</h2>
            <p>Pledge on Rashtriya Ekta Diwas (National Unity Day) to foster and reinforce our dedication to preserve and strengthen unit, integrity and security of our nation on the Birth Anniversary of Sardar Vallabhbhai Patel.</p>
          </div>
        </div>
      </div>
      
      <div class="user-form">
        <div id="citizen">
          <form method="post" action="">
            <div id="step-2">
              <h3>प्रतिज्ञा की भाषा चुनिये Select Pledge Language</h3>
              <div class="row">
                <div class="col-12">
                  <label class="languages"><i></i>भाषा | Language</label>
                  <select name="lang" class="form-select">
                    <option value="-1">-Select-</option>
                    
                  </select>
                </div>
              </div>
              <div class="center-align"> 
                <!-- <button type="cancel"class="btn prev-btn">वापस | Back</button>  -->
                <button type="submit" class="btn next-btn read-pledge">प्रतिज्ञा पढ़िये | Read Pledge</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content End -->
<script type="text/javascript">
  (function(){
    var template_selector = '#citizen-language';
    var orgn = false;
    if(cvc_data['type'] == 'org'){
      $('.orange-btn').addClass('active');
      orgn = true;
    }
    else {
      $('.citizen-btn').addClass('active');
    }

    $(function(){
      // getting language
      (function(){
        cvc_services['getLanguages'].call(this, function(err, results){
          if(err){
            return alert('not able to fetch Languages');
          }
          var options = [];
          for(key in results){
            options.push('<option value="'+key+'">'+results[key]+'</option>')
          }
          $('[name=lang]').append(options.join(''));
          if(cvc_data['form_data']){
            $('[name=lang]').val(cvc_data['form_data']['lang'])  ;
          }
          
        }, orgn)

      })();

      $(template_selector).find('form').on('submit', function(e){
        e.preventDefault();
        var that = this;
        var form_data = $(this).serializeArray();
        // form_data[0]['value'];
        cvc_data['form_data']['lang'] = form_data[0]['value'];;
        form_data = cvc_data['form_data'];

         // updates
        if(form_data['is_new'] == 'false'){
          delete cvc_data['auth_header'];
          cvc_services['updatePledge'].call(this, JSON.stringify(form_data), form_data['identity'], function(err, results){
            if(err){
              if(err['status'] == 401){
                // everything seems fine let's proceed
                return $(window).trigger('renderSection', {'step':3});
              }
              for(e in err){
                var msg_block = $(that).find('[name='+e+']').next('.note');
                if(!msg_block.data('org_msg')){
                  msg_block.data('org_msg', msg_block.html());
                }
                msg_block.html(err[e]);
              }
            }
          });
          return;
        }

        cvc_services['createPledge'].call(this, JSON.stringify(form_data), function(err, results){
          if(err){
            if(err['status'] == 401){
              // everything seems fine let's proceed
              return $(window).trigger('renderSection', {'step':3});
            }
            for(e in err){
              var msg_block = $(that).find('[name='+e+']').next('.note');
              if(!msg_block.data('org_msg')){
                msg_block.data('org_msg', msg_block.html());
              }
              msg_block.html(err[e]);
            }
          }
          // done work with results here
        });
      });

       // link handler
      $(template_selector).find('.prev-btn').on('click', function(e){
        e.preventDefault();
        $(window).trigger('renderSection', {'step':1});
      });

      // disable organization
      $(template_selector).find('.orange-btn').on('click', function(e){
        e.preventDefault();
        return $(window).trigger('renderSection', {'step':7});
      });
    });

  })();
</script>