<!-- Page Content -->
<div class="content" id="citizen-pledge">
  <div class="container">
    <div class="take-pledge">
      <div class="content-header">
        <div class="pledge-auth"><img src="assets/images/patelji.png" alt="" title="">
          <div>Let us celebrate the <span>Rashtriya Ekta Diwas</span> <br>
            with full enthusiasm and take </div>
          <div class="text-pledge">
            <h2>RASHTRIYA EKTA DIWAS PLEDGE</h2>
            <p>Pledge on Rashtriya Ekta Diwas (National Unity Day) to foster and reinforce our dedication to preserve and strengthen unit, integrity and security of our nation on the Birth Anniversary of Sardar Vallabhbhai Patel.</p>
          </div>
        </div>
      </div>
      
      <div class="user-form">
        <div id="citizen">
          <form method="post" action="" autocomplete="off">
            <div id="step-3">
              <h3>प्रतिज्ञा पढ़िये Read Pledge</h3>
              <h4>राष्ट्रीय एकता दिवस शपथ / RASHTRIYA EKTA DIWAS PLEDGE</h4>
              <div id="pledge-content" class="pledge-text">
                <div class="row pledge-text">
                  
                </div>

                <div class="row otp-show">
                  <div class="col-6">
                    <label>Please Enter OTP</label>
                    <input type="text" name="otp" class="form-text" placeholder="Please Enter OTP">
                  </div>
                  <div class="col-3">
                    <label></label>
                    <button class="btn" type="submit">Submit</button>
                    <button class="btn resend-otp-btn">Resend</button>
                  </div>
                </div>
                <div class="center-align"> 
                  <!-- <a href="language.html#main-section" class="btn prev-btn">वापस | Back</a>  -->
                  <a href="javascript:void(0)" class="btn otp-btn citizen">मैंने प्रतिज्ञा ली ! I Pledge</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content End -->
<script type="text/javascript">
  var template_selector = '#citizen-pledge';
  var $template = $(template_selector);
  var orgn = false;
  if(cvc_data['type'] == 'org'){
    $('.orange-btn').addClass('active');
    orgn = true;
  }
  else {
    $('.citizen-btn').addClass('active');
  }


  $(function(){
    // disable organization
    $(template_selector).find('.orange-btn').on('click', function(e){
      e.preventDefault();
      return $(window).trigger('renderSection', {'step':7});
    });

    (function eventHandling(){     
      $($template).on('click','[name=pledge-taken]', function(e){
        e.preventDefault();
        return $(window).trigger('renderSection', {'step':10});
      });
    })();

    // var bind data
    var lang = cvc_data['form_data']['lang'];
    // var lang = 'en';
    cvc_services['getPledgeText'].call(this, lang, function(err, results){
      if(err){
        return alert('Unable to get Pledge Text for mentioned Language ' + lang);
      }
      var pledge_text = results['pledge_text'];
      $(template_selector).find('#pledge-content').find('.pledge-text').html(pledge_text);
      if(!debug_mode){
        // remove organizaton of individual buttons
        if(orgn){
          $(template_selector).find('.otp-btn.citizen').remove();
        }else{
          $(template_selector).find('.otp-btn.orgn').remove();
        }

        new TypingText(document.getElementById("pledge-content"), 20);
        TypingText.runAll();

      }

    }, orgn);

  });

  // handling form medium submission
  $('form',$template).on('submit', function(e){
    e.preventDefault();
    // trigger event for request creation
    $(this).trigger('request-creation');
  });

  // Resend OTP
  $('.resend-otp-btn', $template).on('click', function(e) {
    e.preventDefault();
    var that = this;
    var form_data = cvc_data['form_data'];
    cvc_services['createPledge'].call(this, JSON.stringify(form_data), function(err, results){
      if(err){
        if(err['status'] == 400){
          for(e in err['responseJSON']){
            cvc_services.showMsg('error', err['responseJSON'][e]);
          }
          return;
        }
        if(err['status'] == 403 ){
          $('.resend-otp-btn').hide();
          return cvc_services.showMsg('error', err['responseJSON']['message']);
        }

        if( err['status'] == 401){
          return cvc_services.showMsg('error', 'OTP sent to your Mobile');
        }
        for(e in err){
          var msg_block = $(that).find('[name='+e+']').next('.note');
          if(!msg_block.data('org_msg')){
            msg_block.data('org_msg', msg_block.html());
          }
          msg_block.html(err[e]);
        }
      }
      // done work with results here
    });
  });

  // requestin pledge creation here
  $('form', $template).on('request-creation', function(e){
    e.preventDefault();
    var otp = $(this).find('[name=otp]').val();
    var identity = cvc_data['form_data']['identity'];
    var auth_header = md5(md5(identity)+':'+ md5(otp));
    cvc_data['auth_header'] = auth_header;

    // update pledge
    if(cvc_data['form_data']['is_new'] == 'false'){
      cvc_services['updatePledge'].call(this, JSON.stringify(cvc_data['form_data']), cvc_data['form_data']['identity'], function(err, results){
          if(err && err['responseJSON']){
            err = err['responseJSON'];
            for(e in err){
              cvc_services.showMsg('error', err[e]);
            }
            return;
          }

          // rerouting to pledge certificate page             
          $(window).trigger('renderSection', {'step':4});
      });
      return;
    }

    cvc_services['createPledge'].call(this, JSON.stringify(cvc_data['form_data']), function(err, results){
      if(err && err['responseJSON']){
        err = err['responseJSON'];
        for(e in err){
          cvc_services.showMsg('error', err[e]);
        }
        return;
      }

      // setting new otp
      if(results['otp']){
        otp = results['otp'];
        otp = 123456;
        auth_header =  md5(md5(identity)+':'+ md5(otp));
        cvc_data['auth_header'] = auth_header;
        $(window).trigger('renderSection', {'step':4});
      }

    });
  });
</script>